.listaPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.itemLista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

p {
  line-height: 0%;
  font-size: 15px;
}

.header {
  text-align: center;
}

.inputTxt {
  height: 15px;
  margin-top: 5px;
}